body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.custom-alert {
    width: 50%;
}


footer {
    height: 60px; /* Mettez la hauteur de votre footer ici */
    text-align: center;
}