<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <display-name>ProjetEnchere</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>400</error-code>
    <location>/errors/400.jsp</location>
  </error-page>
  <error-page>
    <error-code>401</error-code>
    <location>/errors/401.jsp</location>
  </error-page>
  <error-page>
    <error-code>403</error-code>
    <location>/errors/403.jsp</location>
  </error-page>
  <session-config>
    <session-timeout>5</session-timeout>
  </session-config>
  <servlet>
    <servlet-name>creaVente.jsp</servlet-name>
    <jsp-file>/WEB-INF/views/creaVente.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>creaVente.jsp</servlet-name>
    <url-pattern>/views/creationDeVente.jsp</url-pattern>
  </servlet-mapping>
</web-app>